<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swagger UI</title>
    <!--<link rel="stylesheet" href="../node_modules/swagger-ui/dist/swagger-ui.css">-->
    <link rel="stylesheet" type="text/css" href="index.css" >
</head>

<body>
<div id="swagger-ui"></div>
<script>
    var file = '<%= file %>';
</script>
<script type="application/javascript" src="bundle.js"></script>
</body>
</html>

